@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
/* font-family: 'Alata', sans-serif; */
/* font-family: 'Josefin Sans', sans-serif; */

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 15px;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    position: relative;
}

img {
    display: block;
}

a {
    text-decoration: none;;
}

/* Hero section */
.hero-img-mobile,
.hero-img-desktop {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.hero-img-desktop {
    display: none;
}

.navbar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 88%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.65rem;
    z-index: 1;
}

.nav-background {
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    width: 9.7rem;
}

.nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 14.75rem;
}

.nav-link,
.hero-text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 1.6rem;
}

.nav-link {
    color: var(--white);
    font-size: 1.6rem;
    position: relative;
}

.nav-link:hover,
.nav-link:focus {
    outline: none;
    text-decoration: underline;
}

.hero-text-container {
    width: 88%;
    position: absolute;
    top: 15.05rem;
    left: 50%;
    transform: translateX(-50%);
}

.hero-text {
    max-width: 25rem;
    border: 2px solid var(--white);
    color: var(--white);
    /* font-size: 2.65rem; */
    font-size: clamp(1.8rem, -0.7053rem + 13.4211vw, 2.65rem);
    line-height: 0.98;
    padding: 1.65rem 1.5rem 1.15rem 1.6rem;
}

.burger-icon,
.close-icon {
    cursor: pointer;
}

/* Utility classes */
.fixed {
    position: fixed;
}

.hide {
    display: none;
}

@media (min-width: 769px) {
    .hero-img-mobile {
        display: none;
    }

    .hero-img-desktop {
        display: block;
    }

    .burger-icon,
    .close-icon,
    .nav-background {
        display: none;
    }

    .navbar,
    .hero-text-container {
        width: 77%;
    }

    .navbar {
        padding-top: 4.2rem;
    }

    .logo {
        width: 12.7rem;
    }

    .nav-links {
        display: block;
        position: static;
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-link {
        padding-bottom: 0;
        text-transform: none;
        font-family: 'Alata', sans-serif;
        font-weight: 400;
        font-size: 1rem;
    }

    .nav-link:hover,
    .nav-link:focus {
        text-decoration: none;
    }

    .nav-link:hover::after,
    .nav-link:focus::after {
        content: '';
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 45%;
        height: 2px;
        background-color: var(--white);
    }

    .hero-text {
        max-width: 650px;
        font-size: 4.8rem;
        padding: 2.55rem 2.6rem 1.75rem 2.55rem;
    }
}

@media (min-width: 1201px) {
    .nav-links {
        width: 34.2%;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 2000px;
        margin: 0 auto;
    }

    .hero-img-desktop {
        height: auto;
    }

    .navbar,
    .hero-text-container {
        max-width: 1540px;
    }
}
